<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Register - ShopSphere</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

<div class="navbar">
    <h2>ShopSphere</h2>
    <div class="nav-links">
        <a href="/">Home</a>
        <a href="/login-page">Login</a>
    </div>
</div>

<div class="form-card">
    <h2>Register</h2>
    <form id="registerForm">
        <input type="text" id="name" placeholder="Full name" required>
        <input type="email" id="email" placeholder="Email" required>
        <input type="password" id="password" placeholder="Password" required>
        <p id="errorMsg" style="color:red; margin-bottom:10px;"></p>
        <input type="text" id="phoneNumber" placeholder="Phone number" required>
        <button type="submit">Register</button>
    </form>
    <p style="text-align:center; margin-top:15px;">
        Already have an account? <a href="/login-page">Login</a>
    </p>
</div>

<script src="/js/register.js"></script>
</body>
</html>